# Node.js dependencies
node_modules/

# Ignore build directory
build/

# Sourcemap files
*.js.map

# IDE and editor files
.vscode/
.idea/

# Environment variables file (if using dotenv)
.env

# Environment variables file (if using dotenv)
.env.local

# OS-specific files
.DS_Store
Thumbs.db
